@import "tailwindcss";

@theme {
  --color-background: #1b1e2b;
  --color-surface: #232737;
  --color-primary: #ff6b4a;
  --color-secondary: #2e3447;
  --color-accent: #ffb74a;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b0b3c3;
  --color-dark-line: #393c49;
  --color-text-light: #abbbc2;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
